@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,500&display=swap');

*,*::after,*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

button {
    font: inherit;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.hero {
    margin: 70px auto;
}

.top-container {
    width: 80%;
    margin: 30px auto;
}

.inner-container {
    width: 80%;
    margin: 30px auto;
}

.hero-img {
    display: block;
    border-radius: 1rem;
    min-height: 145px;
    margin: 0 auto;
    /* text-align: center; */
}

.unhappy {
    font-size: 0.75rem;
    font-weight: 500;
    color: #2D9CDB;
}

.hero-title {
    width: 90%;
}

.story-title {
    width: 70%;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333333;
    margin-bottom: 2rem;
}

.story-text {
    color: #4F4F4F;
}

.contact {
    margin: 2rem auto;
}

.contact-query {
    font-size: 0.625rem;
    font-weight: 500;
    color: #828282;
}

.email {
    background-color: #F2F2F2;
    border-radius: 0.8rem;
    padding: 0.45rem 0.4rem 0.45rem 1rem;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.id {
    color: #BDBDBD;
}

.join {
    background-color: #2D9CDB;
    color: #F2F2F2;
    border: none;
    border-radius: 0.8rem;
    margin-left: auto;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
}


.id,
.join {
    font-weight: 500;
}

.join:hover {
    cursor: pointer;
    background-color: #1D5D9B;
    color: #ffffff;
}


/* SERVICES  */

.main-container {
    width: 90%;
    margin: 180px auto;
}

.background-icon {
    width: 53px;
    height: 53px;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.button {
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 0.9rem;
    background-color: #E0E0E0;
    color: #828282;
}

.design {
    background-color: #2D9CDB;
    color: #FFFFFF;
}

.frontend {
    background-color: #27AE60;
    color: #FFFFFF;
}

.backend {
    background-color: #EB5757;
    color: #FFFFFF;
}

.card {
    max-width: 420px;
    border-radius: 2rem;
    padding: 2.5rem;
    margin: 40px  auto;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333333;
    width: 60%;
}

.card--title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0;
}

.card--text {
    font-size: 1rem;
    margin: 0 0 2rem;
}

.card:hover,
.card:focus {
    cursor: pointer;
    box-shadow: 5px 5px 18px hsla(0, 0%, 0%, 0.141);

}

.card:hover .card--button,
.card:focus .card--button{
    background-color: #2D9CDB;
    color: #ffffff;
} 


/* OUR WORKS  */

.work {
    width: 90%;
    margin: 0 auto;
}

.work--title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333333;
    width: 70%;
    margin: 0 auto;
}

.project {
    margin-top: 2.5rem;
}

.project--img {
    border-radius: 1.5rem;
}

.project--category {
    color: #828282;
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 0;
}

.project--name {
    font-size: 1.125rem;
    font-weight: 500;
    color: #333333;
    margin: 0;
}

.see--more {
    color: #2D9CDB;
    font-size: 1.125rem;
    margin-right: 0.5rem;
}

.arrow {
    color: #2D9CDB;
}

.d-flex {
    display: flex;
    align-items: center;
}

/* TEAM  */

.team {
    display: flex;
    flex-direction: column;
    margin: 95px 0;
}

.team--info--title {
    font-size: 1.125rem;
    color: #EB5757;
    font-weight: 500;
}

.team--info--subtitle {
    font-size: 2.25rem;
    font-weight: 500;
    color: #333333;
    width: 80%;
    margin: 0 0 1.3rem;
}

.team--info--text {
    font-size: 1rem;
    font-weight: 400;
    color: #4F4F4F;
    width: 70%;
}

.team--members {
    margin: 37px 0 70px;
    display: grid;
    gap: 0.5rem;
    grid-template-areas: 'person1 person2'
    'person1 person3';
}

.person1 {
    grid-area: person1;
    align-self: center;
}

.person2 {
    grid-area: person2;
    margin-right: 1.5rem;
}

.person3 {
    grid-area: person3;
}

.team--member {
    border-radius: 1.2rem;
}

@media (min-width: 455px){
    .unhappy {
        font-size: 1.125rem;
    }

    .inner-container {
        width: 70%;
    }

    .title {
        font-size: 3rem;
    }

    .hero-title {
        width: 55%;
    }

    .srink-container {
        width: 55%;
    }

    .email {
       width: 65%;
    }

    .story-text {
        font-size: 1.125rem;
        width: 68%;
    }

    .contact-query {
        font-size: 0.875rem;
    }

    .id,
    .join{
        font-size: 1.125rem;
    }

    .top-bottom-margin {
        margin: 5rem 0;
    }
    
    /* SERVICE  */

    .main-container {
        width: 75%;
    }

    .subtitle {
        font-size: 2.25rem;
        font-weight: 500;
        width: 30%;
    }

    .services {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    /* OUR WORKS */

    .work {
        width: 75%;
    }

    .work--title {
        font-size: 2.25rem;
        margin-left: 0;
        width: 45%;
    }

    .project--category {
        font-size: 0.875rem;
    }

    .project--name {
        font-size: 1.5rem;
    }

    .project--samples {
        display: grid;
        grid-template-areas: 'smart--home onboard'
        'booking juice';
        gap: 1.8rem;
    }

    .smart--home {
        grid-area: smart--home;
    }

    .onboard {
        grid-area: onboard;
        margin-top: 0;
    }

    .booking {
        grid-area: booking;
    }

    .juice {
        grid-area: juice;
        margin-top: 0;
    }

    .smart--home,
    .booking {
        margin-top: 150px;
    }

    .see--more {
        font-size: 1.5rem;
    }

    .see--moreLink {
        margin-top: 98px;
        display: flex;
        justify-content: flex-end;
    }

    /* TEAM  */
    .team {
        flex-direction: row;
        margin: 145px 0;
        justify-content: space-between;
    }
    
    .team--members {
        gap: 1.35rem;
        width: 55%;
    }

    .team--info{
        align-self: center;
        width: 38%;
    }
}   